### Programming for Data Analysis Project 1

### Introduction  

For this project we chose Quality of Life dataset by O.Karaman retreived from Kaggle platform.[[1]](https://www.kaggle.com/datasets/orhankaramancode/city-quality-of-life-dataset) Data were acquired from Teleport.org and contain scores on different variables about the life in the cities around the world allowing the users to compare them in order to ease the decision of choosing a place to live. [[2]](https://teleport.org/about-us/)    

To simplify the analysis, we will not be using the entire dataset, instead we are going to pick some of the variables we find the most interesting and explore the relationship between them. (add more here)

### Exploring Data

Even though data were already pre-processed, since we are not going to use the whole dataset, we will do additional cleaning but first, we are going to take a look at data as we retrieved them. They are uploaded in csv format as scoresData.csv.

In [ ]:
# We are using pandas library to read data from the file

In [4]:
import pandas as pd

In [5]:
scores = pd.read_csv('scoresData.csv')

To see the first couple of rows we are using the head() function.   
We have 21 columns of which the first one shows indexes of rows, next three are Name (of the cities), Country and Continent for which the scores in the variables are shown.

In [6]:
scores.head()

,Unnamed: 0,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,...,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
0,0,Aarhus,Denmark,Europe,6.1315,4.015,2.8270,2.512,3.5360,6.31175,...,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.373,3.1870,9.7385,4.1300
1,1,Adelaide,Australia,Oceania,6.3095,4.692,3.1365,2.640,1.7765,5.33625,...,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.341,4.3285,7.8220,5.5310
2,2,Albuquerque,New Mexico,North America,7.2620,6.059,3.7720,1.493,1.4555,5.05575,...,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.396,4.8900,7.0285,3.5155
3,3,Almaty,Kazakhstan,Asia,9.2820,9.333,2.4585,0.000,4.5920,5.87125,...,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.886,2.9370,6.5395,5.5000
4,4,Amsterdam,Netherlands,Europe,3.0530,3.824,7.9715,6.107,8.3245,6.11850,...,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.523,8.8740,8.3680,5.3070

Types of data in the dataframe are checked with the info() function. Scores for variables such as Housing, Cost of Living, Startups and the rest are float data type while categorial variables: Name (of the city), Country and Continent have object data types.  
According to the output none of the entries are null, there are no missing values, although, just by looking at data we can see zeroes are included. Since we are not going to use the entire dataset, we will deal with zeroes later, after we pick the variables for analysis.

In [7]:
scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             266 non-null    int64
 1   UA_Name                266 non-null    object
 2   UA_Country             266 non-null    object
 3   UA_Continent           266 non-null    object
 4   Housing                266 non-null    float64
 5   Cost of Living         266 non-null    float64
 6   Startups               266 non-null    float64
 7   Venture Capital        266 non-null    float64
 8   Travel Connectivity    266 non-null    float64
 9   Commute                266 non-null    float64
 10  Business Freedom       266 non-null    float64
 11  Safety                 266 non-null    float64
 12  Healthcare             266 non-null    float64
 13  Education              266 non-null    float64
 14  Environmental Quality  266 non-null    float64
 15  Economy                266 non-null    float64
 16  Taxation               266 non-null    float64
 17  Internet Access        266 non-null    float64
 18  Leisure & Culture      266 non-null    float64
 19  Tolerance              266 non-null    float64
 20  Outdoors               266 non-null    float64
dtypes: float64(17), int64(1), object(3)
memory usage: 43.8+ KB

### Data Cleaning

After exploring the ways of how to remove columns we don't want in a dataset, it was decided we are going to drop them by indexes.

In [8]:
# axis=1 because we are taking out columns, for rows would be axis=0
scores = scores.drop(scores.columns[[0, 4, 5, 6, 7, 8, 9, 12, 14, 16, 17, 18, 20]], axis=1)
scores

,UA_Name,UA_Country,UA_Continent,Business Freedom,Safety,Education,Economy,Tolerance
0,Aarhus,Denmark,Europe,9.940000,9.6165,5.3665,4.8865,9.7385
1,Adelaide,Australia,Oceania,9.399667,7.9260,5.1420,6.0695,7.8220
2,Albuquerque,New Mexico,North America,8.671000,1.3435,4.1520,6.5145,7.0285
3,Almaty,Kazakhstan,Asia,5.568000,7.3090,2.2830,5.2690,6.5395
4,Amsterdam,Netherlands,Europe,8.836667,8.5035,6.1800,5.0530,8.3680
...,...,...,...,...,...,...,...,...
261,Winnipeg,Canada,North America,8.966000,6.0155,5.3440,5.8405,6.6590
262,Wroclaw,Poland,Europe,5.704333,8.1655,4.1615,4.7615,3.9045
263,Yerevan,Armenia,Asia,6.501000,8.8730,0.0000,3.4580,7.3465
264,Zagreb,Croatia,Europe,5.720333,8.6575,3.2110,2.2365,7.9545
265,Zurich,Switzerland,Europe,8.888000,9.0665,7.2875,6.5520,8.7845

To make a dataframe look nicer we changed the names of the variables

In [9]:
scores = scores.rename(columns={"UA_Name": "City", "UA_Country": "Country", "UA_Continent": "Continent"})
scores

,City,Country,Continent,Business Freedom,Safety,Education,Economy,Tolerance
0,Aarhus,Denmark,Europe,9.940000,9.6165,5.3665,4.8865,9.7385
1,Adelaide,Australia,Oceania,9.399667,7.9260,5.1420,6.0695,7.8220
2,Albuquerque,New Mexico,North America,8.671000,1.3435,4.1520,6.5145,7.0285
3,Almaty,Kazakhstan,Asia,5.568000,7.3090,2.2830,5.2690,6.5395
4,Amsterdam,Netherlands,Europe,8.836667,8.5035,6.1800,5.0530,8.3680
...,...,...,...,...,...,...,...,...
261,Winnipeg,Canada,North America,8.966000,6.0155,5.3440,5.8405,6.6590
262,Wroclaw,Poland,Europe,5.704333,8.1655,4.1615,4.7615,3.9045
263,Yerevan,Armenia,Asia,6.501000,8.8730,0.0000,3.4580,7.3465
264,Zagreb,Croatia,Europe,5.720333,8.6575,3.2110,2.2365,7.9545
265,Zurich,Switzerland,Europe,8.888000,9.0665,7.2875,6.5520,8.7845

Next, we checked for zeroes in columns containing scores. Index slicing was used to remove zeroe values. [[3]](https://www.youtube.com/watch?v=i4cI4y9cLzg)

In [10]:
scores.columns[3:]

Index(['Business Freedom', 'Safety', 'Education', 'Economy', 'Tolerance'], dtype='object')

In [11]:
scores[(scores[scores.columns[3:]]==0).any(axis=1)]

,City,Country,Continent,Business Freedom,Safety,Education,Economy,Tolerance
6,Andorra,Andorra,Europe,0.000000,9.5535,0.0,0.0000,8.7035
9,Asuncion,Paraguay,South America,3.684000,6.9345,0.0,4.1090,7.0515
14,Baku,Azerbaijan,Asia,5.671667,8.7720,0.0,3.8765,6.5845
23,Belize City,Belize,North America,3.411000,6.0520,0.0,3.4960,6.8650
52,Caracas,Venezuela,South America,1.000000,5.2210,0.0,1.9780,4.5505
54,Casablanca,Morocco,Africa,5.614333,6.7755,0.0,3.1735,2.9450
73,Dar es Salaam,Tanzania,Africa,3.288667,6.1005,0.0,5.5000,2.7665
95,Gibraltar,Gibraltar,Europe,0.000000,9.3375,0.0,0.0000,4.4265
100,Guatemala City,Guatemala,North America,4.617000,6.1390,0.0,3.8050,7.1570
104,Havana,Cuba,North America,1.643333,8.6335,0.0,2.5495,8.7595
110,Hyderabad,India,Asia,3.618000,8.1265,0.0,5.5565,4.1325
119,Kathmandu,Nepal,Asia,4.740333,8.5055,0.0,4.4960,9.1290
121,Kingston,Jamaica,North America,6.567667,5.5275,0.0,1.8295,2.8435
126,Lagos,Nigeria,Africa,3.255667,5.9995,0.0,5.0610,1.4060
127,La Paz,Bolivia,South America,3.482000,6.7505,0.0,4.5360,6.2930
142,Lviv,Ukraine,Europe,4.525333,7.8220,0.0,1.2755,6.7160
148,Managua,Nicaragua,North America,4.600333,7.7745,0.0,3.9395,9.2390
150,Manila,Philippines,Asia,4.592333,6.4345,0.0,5.0065,5.5030
183,Panama,Panama,North America,6.208667,6.9760,0.0,6.0405,6.7855
187,Phnom Penh,Cambodia,Asia,1.000000,6.6840,0.0,5.3800,6.0305
198,Quito,Ecuador,South America,3.021333,6.9690,0.0,3.8855,8.8265
214,San Juan,Puerto Rico,North America,3.173000,5.1210,0.0,0.0000,3.6600
216,San Salvador,El Salvador,North America,4.661333,5.4025,0.0,2.6590,6.1275
220,Sarajevo,Bosnia and Herzegovina,Europe,2.580333,7.1330,0.0,2.0880,7.7365
238,Tashkent,Uzbekistan,Asia,5.175333,8.9045,0.0,5.5375,6.1705
263,Yerevan,Armenia,Asia,6.501000,8.8730,0.0,3.4580,7.3465

After removing zero values, our new dataset contains 240 rows over 8 columns.

In [12]:
scores = scores[~(scores[scores.columns[3:]]==0).any(axis=1)]
scores

,City,Country,Continent,Business Freedom,Safety,Education,Economy,Tolerance
0,Aarhus,Denmark,Europe,9.940000,9.6165,5.3665,4.8865,9.7385
1,Adelaide,Australia,Oceania,9.399667,7.9260,5.1420,6.0695,7.8220
2,Albuquerque,New Mexico,North America,8.671000,1.3435,4.1520,6.5145,7.0285
3,Almaty,Kazakhstan,Asia,5.568000,7.3090,2.2830,5.2690,6.5395
4,Amsterdam,Netherlands,Europe,8.836667,8.5035,6.1800,5.0530,8.3680
...,...,...,...,...,...,...,...,...
260,Wellington,New Zealand,Oceania,10.000000,8.2230,4.7560,5.5055,8.1160
261,Winnipeg,Canada,North America,8.966000,6.0155,5.3440,5.8405,6.6590
262,Wroclaw,Poland,Europe,5.704333,8.1655,4.1615,4.7615,3.9045
264,Zagreb,Croatia,Europe,5.720333,8.6575,3.2110,2.2365,7.9545
265,Zurich,Switzerland,Europe,8.888000,9.0665,7.2875,6.5520,8.7845

We are going to take first 150 data to run the testing.

In [13]:
scores = scores.iloc[:150]

To get all scores with the same number of decimals we used round function.

In [14]:
scores.round(decimals=4)

,City,Country,Continent,Business Freedom,Safety,Education,Economy,Tolerance
0,Aarhus,Denmark,Europe,9.9400,9.6165,5.3665,4.8865,9.7385
1,Adelaide,Australia,Oceania,9.3997,7.9260,5.1420,6.0695,7.8220
2,Albuquerque,New Mexico,North America,8.6710,1.3435,4.1520,6.5145,7.0285
3,Almaty,Kazakhstan,Asia,5.5680,7.3090,2.2830,5.2690,6.5395
4,Amsterdam,Netherlands,Europe,8.8367,8.5035,6.1800,5.0530,8.3680
...,...,...,...,...,...,...,...,...
163,Moscow,Russia,Europe,5.3867,7.4780,4.5725,3.1480,3.4750
164,Mumbai,India,Asia,3.6180,7.6185,0.5275,5.5565,3.8390
165,Munich,Germany,Europe,9.0723,9.0490,7.5545,5.3735,8.4745
166,Nairobi,Kenya,Africa,3.2463,5.9720,0.5000,4.3770,2.5790
167,Nantes,France,Europe,8.0883,7.6355,4.4045,4.2045,7.0555

In [15]:
scores.to_csv('scorestest.csv', index=False)

References:  
    [1]: Karaman, O. (n.d.). City Quality of Life Dataset., Version 1, Retreived November 24, 2022 from https://www.kaggle.com/datasets/orhankaramancode/city-quality-of-life-dataset  
    [2]: Teleport, (n.d). About us, Retreived November 24, 2022 from https://teleport.org/about-us/

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html    
https://stackoverflow.com/questions/19482970/get-a-list-from-pandas-dataframe-column-headers  
https://www.geeksforgeeks.org/print-lists-in-python-4-different-ways/  
https://sparkbyexamples.com/pandas/pandas-drop-columns-examples/  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html  
https://www.youtube.com/watch?v=i4cI4y9cLzg  
https://www.freecodecamp.org/news/drop-list-of-rows-from-pandas-dataframe/