### Programming for Data Analysis Project 1

### Introduction  

For this project we chose **Quality of Life** dataset by O.Karaman retreived from Kaggle platform.[[1]](https://www.kaggle.com/datasets/orhankaramancode/city-quality-of-life-dataset) Data were acquired from Teleport.org and contain scores on different variables about the life in the cities around the world allowing users to compare them in order to ease the decision of choosing a place to live. [[2]](https://teleport.org/about-us/)    

To simplify the analysis, we didn't use the entire dataset, instead we picked some of the variables we found the most interesting and explored the relationship between them. Initially, eight variables were chosen: Name of the City, Country, Continent and scores variables: Business Freedom, Safety, Education, Economy and Tolerance. The idea was to see how the Tolerance scores vary depending on the other scores variables but the correlation between them turned out to be low which made data generating more difficult. The choice of the variables was changed after we checked the correlation for the whole dataset. New variables that were analysed are: **City, Country, Continent, Housing, Cost of Living, Business Freedom and Education**.  

To describe what scores **variables** are representing we took a look behind data at Teleport.org:[[3]](https://teleport.org/cities/dublin/)  
    
**Housing** included prices of the apartments and rent index,  
**Cost of Living** referred to groceries and transport expenses as well as the inflation score,   
**Business Freedom** implied freedom from corruption and labor restrictions,  
**Education** referred to PISA ranking, happiness of the students and university quality

### Exploring Data

Even though data were already pre-processed, since we are not going to use the whole dataset, we will do additional cleaning but first, we are going to take a look at data as we retrieved them. They are uploaded in csv format as scoresData.csv.

In [1]:
# Importing libraries we are going to use:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import seaborn as sns

In [3]:
scores = pd.read_csv('scoresData.csv')

To see the first couple of rows we are using the head() function.   
We have 21 columns of which the first one shows indexes of rows, next three are Name (of the cities), Country and Continent for which the scores in the variables are shown.

In [4]:
scores.head()

,Unnamed: 0,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,...,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
0,0,Aarhus,Denmark,Europe,6.1315,4.015,2.8270,2.512,3.5360,6.31175,...,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.373,3.1870,9.7385,4.1300
1,1,Adelaide,Australia,Oceania,6.3095,4.692,3.1365,2.640,1.7765,5.33625,...,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.341,4.3285,7.8220,5.5310
2,2,Albuquerque,New Mexico,North America,7.2620,6.059,3.7720,1.493,1.4555,5.05575,...,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.396,4.8900,7.0285,3.5155
3,3,Almaty,Kazakhstan,Asia,9.2820,9.333,2.4585,0.000,4.5920,5.87125,...,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.886,2.9370,6.5395,5.5000
4,4,Amsterdam,Netherlands,Europe,3.0530,3.824,7.9715,6.107,8.3245,6.11850,...,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.523,8.8740,8.3680,5.3070

Types of data in the dataframe are checked with the info() function. Scores for variables such as Housing, Cost of Living, Startups and the rest are float data type while categorial variables: Name (of the city), Country and Continent have object data types.  
According to the output none of the entries are null, there are no missing values, although, just by looking at data we can see zeroes are included. Since we are not going to use the entire dataset, we will deal with zeroes later, after we pick the variables for analysis.

In [5]:
scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             266 non-null    int64
 1   UA_Name                266 non-null    object
 2   UA_Country             266 non-null    object
 3   UA_Continent           266 non-null    object
 4   Housing                266 non-null    float64
 5   Cost of Living         266 non-null    float64
 6   Startups               266 non-null    float64
 7   Venture Capital        266 non-null    float64
 8   Travel Connectivity    266 non-null    float64
 9   Commute                266 non-null    float64
 10  Business Freedom       266 non-null    float64
 11  Safety                 266 non-null    float64
 12  Healthcare             266 non-null    float64
 13  Education              266 non-null    float64
 14  Environmental Quality  266 non-null    float64
 15  Economy                266 non-null    float64
 16  Taxation               266 non-null    float64
 17  Internet Access        266 non-null    float64
 18  Leisure & Culture      266 non-null    float64
 19  Tolerance              266 non-null    float64
 20  Outdoors               266 non-null    float64
dtypes: float64(17), int64(1), object(3)
memory usage: 43.8+ KB

### Data Cleaning

After exploring the ways of how to remove columns we don't want in a dataset, it was decided we are going to drop them by indexes.

In [6]:
# axis=1 because we are taking out columns, for rows would be axis=0
scores1 = scores.drop(scores.columns[[0, 4, 5, 6, 7, 8, 9, 12, 16, 14, 17, 18, 20]], axis=1)
scores1

,UA_Name,UA_Country,UA_Continent,Business Freedom,Safety,Education,Economy,Tolerance
0,Aarhus,Denmark,Europe,9.940000,9.6165,5.3665,4.8865,9.7385
1,Adelaide,Australia,Oceania,9.399667,7.9260,5.1420,6.0695,7.8220
2,Albuquerque,New Mexico,North America,8.671000,1.3435,4.1520,6.5145,7.0285
3,Almaty,Kazakhstan,Asia,5.568000,7.3090,2.2830,5.2690,6.5395
4,Amsterdam,Netherlands,Europe,8.836667,8.5035,6.1800,5.0530,8.3680
...,...,...,...,...,...,...,...,...
261,Winnipeg,Canada,North America,8.966000,6.0155,5.3440,5.8405,6.6590
262,Wroclaw,Poland,Europe,5.704333,8.1655,4.1615,4.7615,3.9045
263,Yerevan,Armenia,Asia,6.501000,8.8730,0.0000,3.4580,7.3465
264,Zagreb,Croatia,Europe,5.720333,8.6575,3.2110,2.2365,7.9545
265,Zurich,Switzerland,Europe,8.888000,9.0665,7.2875,6.5520,8.7845

In [17]:
scores1.corr()

                  Business Freedom    Safety  Education   Economy  Tolerance
Business Freedom          1.000000 -0.039642   0.757955  0.633438   0.362165
Safety                   -0.039642  1.000000   0.063285 -0.241724   0.374310
Education                 0.757955  0.063285   1.000000  0.513191   0.290475
Economy                   0.633438 -0.241724   0.513191  1.000000   0.049305
Tolerance                 0.362165  0.374310   0.290475  0.049305   1.000000

In [7]:
scores.corr()

,Unnamed: 0,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
Unnamed: 0,1.000000,-0.009494,-0.027777,0.060980,0.044531,-0.001856,0.077030,0.063219,0.091281,0.101955,0.083151,0.023297,-0.041487,0.099252,0.023454,0.183162,0.052920,0.112169
Housing,-0.009494,1.000000,0.794576,-0.344616,-0.462969,-0.233817,0.176004,-0.434984,0.011744,-0.166979,-0.549433,-0.417733,-0.490245,-0.006933,-0.301744,-0.008200,-0.231671,-0.165504
Cost of Living,-0.027777,0.794576,1.000000,0.024625,-0.132262,-0.134216,0.258755,-0.423645,-0.080333,-0.291351,-0.430197,-0.467667,-0.327045,0.050611,-0.259348,0.184746,-0.336006,-0.030579
Startups,0.060980,-0.344616,0.024625,1.000000,0.796214,0.276168,0.074896,0.215702,-0.209409,-0.094998,0.376239,0.009754,0.342311,-0.025140,0.193212,0.446968,-0.142096,0.253849
Venture Capital,0.044531,-0.462969,-0.132262,0.796214,1.000000,0.368431,0.097133,0.250429,-0.119737,0.032858,0.524150,0.103033,0.373194,-0.101222,0.266309,0.332004,-0.094176,0.269301
Travel Connectivity,-0.001856,-0.233817,-0.134216,0.276168,0.368431,1.000000,0.335116,0.262558,0.260882,0.420599,0.467939,0.108372,0.038983,-0.163445,0.233239,0.312039,0.018287,0.137784
Commute,0.077030,0.176004,0.258755,0.074896,0.097133,0.335116,1.000000,0.249281,0.247376,0.378433,0.297148,0.180436,-0.016677,0.088150,0.139976,0.204701,0.178782,0.106959
Business Freedom,0.063219,-0.434984,-0.423645,0.215702,0.250429,0.262558,0.249281,1.000000,-0.039642,0.636899,0.757955,0.706070,0.633438,0.022459,0.518809,0.054772,0.362165,0.081172
Safety,0.091281,0.011744,-0.080333,-0.209409,-0.119737,0.260882,0.247376,-0.039642,1.000000,0.283774,0.063285,0.139070,-0.241724,0.290702,-0.012387,-0.121699,0.374310,0.042888
Healthcare,0.101955,-0.166979,-0.291351,-0.094998,0.032858,0.420599,0.378433,0.636899,0.283774,1.000000,0.605745,0.516984,0.158573,-0.078670,0.302419,0.092242,0.462240,0.038526
Education,0.083151,-0.549433,-0.430197,0.376239,0.524150,0.467939,0.297148,0.757955,0.063285,0.605745,1.000000,0.601733,0.513191,-0.080942,0.530963,0.246393,0.290475,0.165348
Environmental Quality,0.023297,-0.417733,-0.467667,0.009754,0.103033,0.108372,0.180436,0.706070,0.139070,0.516984,0.601733,1.000000,0.415545,-0.042959,0.491950,-0.142371,0.519564,0.102691
Economy,-0.041487,-0.490245,-0.327045,0.342311,0.373194,0.038983,-0.016677,0.633438,-0.241724,0.158573,0.513191,0.415545,1.000000,0.089817,0.372945,-0.096647,0.049305,-0.004324
Taxation,0.099252,-0.006933,0.050611,-0.025140,-0.101222,-0.163445,0.088150,0.022459,0.290702,-0.078670,-0.080942,-0.042959,0.089817,1.000000,-0.051477,-0.077609,0.027594,-0.045730
Internet Access,0.023454,-0.301744,-0.259348,0.193212,0.266309,0.233239,0.139976,0.518809,-0.012387,0.302419,0.530963,0.491950,0.372945,-0.051477,1.000000,0.079144,0.214512,-0.044348
Leisure & Culture,0.183162,-0.008200,0.184746,0.446968,0.332004,0.312039,0.204701,0.054772,-0.121699,0.092242,0.246393,-0.142371,-0.096647,-0.077609,0.079144,1.000000,-0.099851,0.296839
Tolerance,0.052920,-0.231671,-0.336006,-0.142096,-0.094176,0.018287,0.178782,0.362165,0.374310,0.462240,0.290475,0.519564,0.049305,0.027594,0.214512,-0.099851,1.000000,0.052214
Outdoors,0.112169,-0.165504,-0.030579,0.253849,0.269301,0.137784,0.106959,0.081172,0.042888,0.038526,0.165348,0.102691,-0.004324,-0.045730,-0.044348,0.296839,0.052214,1.000000

To make a dataframe look nicer we changed the names of the variables

In [8]:
scores = scores.rename(columns={"UA_Name": "City", "UA_Country": "Country", "UA_Continent": "Continent"})
scores

,Unnamed: 0,City,Country,Continent,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,...,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
0,0,Aarhus,Denmark,Europe,6.1315,4.015,2.8270,2.512,3.5360,6.31175,...,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.3730,3.1870,9.7385,4.1300
1,1,Adelaide,Australia,Oceania,6.3095,4.692,3.1365,2.640,1.7765,5.33625,...,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.3410,4.3285,7.8220,5.5310
2,2,Albuquerque,New Mexico,North America,7.2620,6.059,3.7720,1.493,1.4555,5.05575,...,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.3960,4.8900,7.0285,3.5155
3,3,Almaty,Kazakhstan,Asia,9.2820,9.333,2.4585,0.000,4.5920,5.87125,...,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.8860,2.9370,6.5395,5.5000
4,4,Amsterdam,Netherlands,Europe,3.0530,3.824,7.9715,6.107,8.3245,6.11850,...,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.5230,8.8740,8.3680,5.3070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,261,Winnipeg,Canada,North America,7.5525,5.882,3.7965,0.000,1.4755,5.10450,...,6.0155,7.755667,5.3440,5.67475,5.8405,7.2745,4.9025,4.6880,6.6590,4.2430
262,262,Wroclaw,Poland,Europe,8.4520,8.434,3.5860,2.386,2.2445,4.95475,...,8.1655,6.781333,4.1615,4.96475,4.7615,5.0970,5.7615,4.7495,3.9045,4.0850
263,263,Yerevan,Armenia,Asia,9.6945,9.431,3.9265,0.000,1.7870,5.64925,...,8.8730,5.102000,0.0000,4.43950,3.4580,8.0550,3.9000,4.7370,7.3465,7.7765
264,264,Zagreb,Croatia,Europe,8.9100,7.194,4.4530,1.775,2.0280,4.83000,...,8.6575,7.266000,3.2110,7.33150,2.2365,7.9935,5.0335,4.9945,7.9545,4.8090
265,265,Zurich,Switzerland,Europe,1.4730,1.000,6.2035,3.872,7.7335,5.83950,...,9.0665,7.670333,7.2875,8.64300,6.5520,6.4285,7.2675,4.9655,8.7845,5.4010

Next, we checked for zeroes in columns containing scores. Index slicing was used to remove zeroe values. [[3]](https://www.youtube.com/watch?v=i4cI4y9cLzg)

In [9]:
scores.columns[3:]

Index(['Continent', 'Housing', 'Cost of Living', 'Startups', 'Venture Capital',
       'Travel Connectivity', 'Commute', 'Business Freedom', 'Safety',
       'Healthcare', 'Education', 'Environmental Quality', 'Economy',
       'Taxation', 'Internet Access', 'Leisure & Culture', 'Tolerance',
       'Outdoors'],
      dtype='object')

In [10]:
scores[(scores[scores.columns[3:]]==0).any(axis=1)]

,Unnamed: 0,City,Country,Continent,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,...,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
3,3,Almaty,Kazakhstan,Asia,9.2820,9.333,2.4585,0.000,4.5920,5.87125,...,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.8860,2.9370,6.5395,5.5000
5,5,Anchorage,Alaska,North America,5.4335,3.141,2.7945,0.000,1.7380,4.71525,...,3.4705,6.060333,3.6245,9.27200,6.5145,4.7720,4.9645,3.2660,7.0930,5.3580
6,6,Andorra,Andorra,Europe,3.9690,0.000,1.0000,0.000,0.5000,0.00000,...,9.5535,0.000000,0.0000,7.25600,0.0000,4.4750,7.1860,2.1320,8.7035,3.5885
7,7,Ankara,Turkey,Asia,9.9280,9.125,3.9725,0.000,2.0475,5.29100,...,7.4250,6.914333,2.0285,2.93600,4.0935,4.3235,2.3160,8.6385,4.4855,5.1465
8,8,Asheville,North Carolina,North America,5.8560,5.311,3.5405,0.000,1.2095,1.35800,...,5.8525,6.725333,3.6245,8.49325,6.5145,4.0620,4.7875,5.0630,7.7305,2.2655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,248,Turin,Italy,Europe,8.0695,5.612,3.2500,0.000,3.1495,5.60925,...,6.2520,8.367667,4.1015,3.88550,3.3625,2.4365,2.3690,7.0610,5.7770,5.7050
250,250,Uppsala,Sweden,Europe,7.1600,5.442,1.4285,0.000,4.7485,5.97500,...,7.8500,8.152667,5.2045,8.58150,5.6945,2.7495,5.8540,3.4270,6.9505,3.4665
253,253,Valletta,Malta,Europe,3.1530,0.000,3.9095,2.148,1.8890,0.00000,...,8.5180,8.107000,2.8195,3.77575,5.5395,5.7835,3.2015,5.8270,7.5630,4.7170
261,261,Winnipeg,Canada,North America,7.5525,5.882,3.7965,0.000,1.4755,5.10450,...,6.0155,7.755667,5.3440,5.67475,5.8405,7.2745,4.9025,4.6880,6.6590,4.2430
263,263,Yerevan,Armenia,Asia,9.6945,9.431,3.9265,0.000,1.7870,5.64925,...,8.8730,5.102000,0.0000,4.43950,3.4580,8.0550,3.9000,4.7370,7.3465,7.7765

After removing zero values, our new dataset contains 240 rows over 8 columns.

In [11]:
scores = scores[~(scores[scores.columns[3:]]==0).any(axis=1)]
scores

,Unnamed: 0,City,Country,Continent,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,...,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
0,0,Aarhus,Denmark,Europe,6.1315,4.015,2.8270,2.512,3.5360,6.31175,...,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.3730,3.1870,9.7385,4.1300
1,1,Adelaide,Australia,Oceania,6.3095,4.692,3.1365,2.640,1.7765,5.33625,...,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.3410,4.3285,7.8220,5.5310
2,2,Albuquerque,New Mexico,North America,7.2620,6.059,3.7720,1.493,1.4555,5.05575,...,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.3960,4.8900,7.0285,3.5155
4,4,Amsterdam,Netherlands,Europe,3.0530,3.824,7.9715,6.107,8.3245,6.11850,...,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.5230,8.8740,8.3680,5.3070
10,10,Athens,Greece,Europe,9.0525,6.500,4.4040,2.325,3.7070,5.21975,...,6.7585,7.153000,3.1625,3.80225,3.3200,4.1665,2.2280,7.8760,6.2680,6.4830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Washington,District of Columbia,North America,1.2105,3.595,8.7740,8.056,4.5050,4.45700,...,2.1915,6.258000,5.9685,6.99375,6.5145,4.0620,3.8255,10.0000,6.5495,5.0235
260,260,Wellington,New Zealand,Oceania,5.1345,5.161,2.4715,1.753,0.8525,6.03975,...,8.2230,8.078333,4.7560,9.60925,5.5055,5.9315,5.1745,4.5990,8.1160,6.3970
262,262,Wroclaw,Poland,Europe,8.4520,8.434,3.5860,2.386,2.2445,4.95475,...,8.1655,6.781333,4.1615,4.96475,4.7615,5.0970,5.7615,4.7495,3.9045,4.0850
264,264,Zagreb,Croatia,Europe,8.9100,7.194,4.4530,1.775,2.0280,4.83000,...,8.6575,7.266000,3.2110,7.33150,2.2365,7.9935,5.0335,4.9945,7.9545,4.8090
265,265,Zurich,Switzerland,Europe,1.4730,1.000,6.2035,3.872,7.7335,5.83950,...,9.0665,7.670333,7.2875,8.64300,6.5520,6.4285,7.2675,4.9655,8.7845,5.4010

We are going to take first 150 data to run the testing.

In [12]:
# These are data we are going to take out and keep in a different dataset
scorescontrol = scores.iloc[200:]
scorescontrol.to_csv('scorescontrol.csv')

In [13]:
controlread = pd.read_csv('scorescontrol.csv')
controlread

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, City, Country, Continent, Housing, Cost of Living, Startups, Venture Capital, Travel Connectivity, Commute, Business Freedom, Safety, Healthcare, Education, Environmental Quality, Economy, Taxation, Internet Access, Leisure & Culture, Tolerance, Outdoors]
Index: []

[0 rows x 22 columns]

In [14]:
controlread = controlread.drop(controlread.columns[[0, 4, 6, 7, 8, 9]], axis=1)
controlread

Empty DataFrame
Columns: [Unnamed: 0, City, Country, Housing, Commute, Business Freedom, Safety, Healthcare, Education, Environmental Quality, Economy, Taxation, Internet Access, Leisure & Culture, Tolerance, Outdoors]
Index: []

In [15]:
rng = np.random.default_rng()
def efg(bf):
    if bf <= 6.206917:
        return rng.random() * (3.624500-0.500000) + 0.500000
    if bf <= 8.671000:
        return rng.random() * (4.306500-3.624500) + 3.624500
    if bf <= 8.888000:
        return rng.random() * (5.302375-4.306500) + 4.306500
    else: 
        return rng.random() * (9.711000-5.302375) + 5.302375
    
efg(0.55)

1.4867970291313939

In [16]:
controlread.insert(4, 'Education', True)
controlread['Education'] = controlread['Business Freedom'].apply(efg)
controlread

ValueError: cannot insert Education, already exists

In [ ]:
corr2 = controlread.corr()
corr2

In [ ]:
scores = scores.iloc[:200]
scores

To get all scores with the same number of decimals we used round function.

In [ ]:
scores.round(decimals=4)

In [ ]:
scores.to_csv('scorestest.csv', index=False)

### Statistics

Group cities by continents

In [ ]:
scores['Continent'].value_counts()

In [ ]:
plt.figure(figsize=(10,5))
sns.stripplot(data=scores, x='Continent', y='Business Freedom', jitter=False, s=20, marker="D", linewidth=1, alpha=.9, palette="muted")

In [ ]:
print(sns.color_palette("muted").as_hex())

Descriptive statistics

In [ ]:
scores.describe()

In [ ]:
#do histograms nicer

In [ ]:
plt.figure(figsize = (9,9))

plt.subplot(2, 2, 1)
plt.hist(scores['Cost of Living'], color='#ee854a')
plt.title(label='Cost of Living Distribution');

plt.subplot(2, 2, 2)
plt.hist(scores['Business Freedom'], color='#7dba91')
plt.title(label='Business Freedom');

plt.subplot(2, 2, 3)
plt.hist(scores['Safety'], color='#e6e1e0')
plt.title(label='Safety');

In [ ]:
plt.hist(scores['Cost of Living'], color='pink')
plt.title(label='Cost of Living Distribution')
plt.savefig('CoL_distribution')
plt.show()

In [ ]:
plt.hist(scores['Business Freedom'])
plt.title(label='Business Freedom Distribution')
plt.savefig('BF_distribution')
plt.show()

In [ ]:
plt.hist(scores['Safety'], color='green')
plt.title(label='Safety')
plt.savefig('Safety_distribution')
plt.show()

In [ ]:
plt.hist(scores['Education'])
plt.title(label='Education')
plt.savefig('Education_distribution')
plt.show()

In [ ]:
plt.hist(scores['Economy'])
plt.title(label='Economy')
plt.savefig('Economy_distribution')
plt.show()

In [ ]:
plt.hist(scores['Tolerance'])
plt.title(label='Tolerance')
plt.savefig('Tolerance_distribution')
plt.show()

In [ ]:
correlation = scores.corr()
correlation

Random generator

In [ ]:
#returns floating point number between 0 and 1
rng = np.random.default_rng()
rng.random()

In [ ]:
scores

In [ ]:
newVar = rng.normal(5.962835, 1.863146, size=200)
newVar

In [ ]:
scores.insert(9, 'CostOfL2', newVar, True)
scores

In [ ]:
plt.hist(scores['CostOfL2'])
plt.title(label='CostOfL2')
plt.savefig('CostOfL2_distribution')
plt.show()

In [ ]:
newCorr = scores.corr()
newCorr

In [ ]:
scores.describe()

In [ ]:
newVar = rng.normal(5.962835, 1.863146, size=200)
newVar

In [ ]:
plt.hist(scores['newNewCostOfLiving'])
plt.title(label='newNewCostOfLiving')
plt.savefig('newNewCostOfLiving_distribution')
plt.show()

References:  
    [1]: Karaman, O. (n.d.). City Quality of Life Dataset., Version 1, Retreived November 24, 2022 from https://www.kaggle.com/datasets/orhankaramancode/city-quality-of-life-dataset  
    [2]: Teleport, (n.d). About us, Retreived November 24, 2022 from https://teleport.org/about-us/

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html    
https://stackoverflow.com/questions/19482970/get-a-list-from-pandas-dataframe-column-headers  
https://www.geeksforgeeks.org/print-lists-in-python-4-different-ways/  
https://sparkbyexamples.com/pandas/pandas-drop-columns-examples/  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html  
https://www.youtube.com/watch?v=i4cI4y9cLzg  
https://www.freecodecamp.org/news/drop-list-of-rows-from-pandas-dataframe/    
https://www.youtube.com/watch?v=kprbThEGKf0  
https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/  
https://numpy.org/doc/stable/reference/random/generator.html
https://www.youtube.com/watch?v=4DnWYK88-E4  
https://www.kaggle.com/code/ahmetozdemir1071/city-quality-of-life-data-visualization  
https://seaborn.pydata.org/generated/seaborn.stripplot.html  
https://teleport.org/cities/dublin/